<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="margin-top">Euro Jackpot Results and winning numbers</h3>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-date *ngIf="model?.date" [date]="model?.date"></app-date>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container *ngFor="let dot of model?.numbers">
        <app-dot [number]="dot.number" [extra]="dot.extra" ></app-dot>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-results [data]="model?.odds" ></app-results>
    </div>
  </div>
</div>