<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="margin-top">Euro Jackpot Results and winning numbers</h3>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-date date="01-02-1988"></app-date>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-dot number="9"></app-dot>
      <app-dot number="11" extra="true"></app-dot>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-results></app-results>
    </div>
  </div>
</div>